body {
    background-color: #f6f5e5;
}


.agenda-container {
    width: 92%;
    max-width: 1400px;
    margin: 50px auto;
}


.titulo-agenda {
    text-align: center;
    margin-bottom: 35px;
}


.titulo-agenda h1 {
    font-family: 'Playfair Display SC', serif;

    color: #2c7771;

    font-size: 38px;
}


.titulo-agenda p {
    color: #666;
}


.area-agenda {
    display: grid;

    grid-template-columns: 3fr 1fr;

    gap: 30px;

    align-items: start;
}


.calendario-area {
    background: white;

    padding: 25px;

    border-radius: 14px;

    box-shadow:
        0 3px 15px rgba(0, 0, 0, 0.08);
}


#calendar {
    width: 100%;
}


/* BOTÕES CALENDÁRIO */

.fc .fc-button-primary {
    background-color: #2c7771;

    border-color: #2c7771;
}


.fc .fc-button-primary:hover {
    background-color: #235f5a;

    border-color: #235f5a;
}


.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #235f5a;

    border-color: #235f5a;
}


.fc .fc-toolbar-title {
    font-family: 'Playfair Display SC', serif;

    color: #2c7771;

    font-size: 25px;
}


/* FORM */

.novo-compromisso {
    background: white;

    padding: 25px;

    border-radius: 14px;

    box-shadow:
        0 3px 15px rgba(0, 0, 0, 0.08);
}


.novo-compromisso h2 {
    color: #2c7771;

    font-family: 'Playfair Display SC', serif;

    font-size: 22px;

    margin-bottom: 25px;
}


.campo {
    margin-bottom: 17px;
}


.campo label {
    display: block;

    margin-bottom: 6px;

    font-weight: 500;
}


.campo input,
.campo textarea {
    width: 100%;

    padding: 10px;

    border: 1px solid #ccc;

    border-radius: 7px;

    outline: none;
}


.campo input:focus,
.campo textarea:focus {
    border-color: #2c7771;
}


.campo textarea {
    height: 90px;

    resize: vertical;
}


.btn-salvar {
    width: 100%;

    border: none;

    background-color: #2c7771;

    color: white;

    padding: 12px;

    border-radius: 7px;

    cursor: pointer;
}


.btn-salvar:hover {
    background-color: #235f5a;
}


/* LEGENDA */

.legenda-agenda {
    display: flex;

    gap: 25px;

    margin-bottom: 20px;
}


.legenda-agenda div {
    display: flex;

    align-items: center;

    gap: 7px;
}


.legenda-cliente,
.legenda-compromisso {
    width: 14px;

    height: 14px;

    display: inline-block;

    border-radius: 50%;
}


.legenda-cliente {
    background-color: #2c7771;
}


.legenda-compromisso {
    background-color: #b58a55;
}


/* EVENTOS */

.evento-cliente {
    background-color: #2c7771 !important;

    border-color: #2c7771 !important;

    color: white !important;
}


.evento-compromisso {
    background-color: #b58a55 !important;

    border-color: #b58a55 !important;

    color: white !important;
}


.erro {
    color: #b33;

    font-size: 13px;
}


@media(max-width: 950px) {

    .area-agenda {
        grid-template-columns: 1fr;
    }

}